server:
    port: 8000
    servlet:
        session:
            tracking-modes: COOKIE
spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        password: 1234
        url: jdbc:mysql://localhost:3306/blog?useUnicode=true&characterEncoding=utf8
        username: root
