<!DOCTYPE html>
<!-- suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="../static/favicon.ico">

    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" th:href="@{/css/theme-2.css}">

</head>

<body>

<div th:replace="header.html::leftSide"></div>

<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center">
            <h2 class="heading">Jeff's Blog - About everything</h2>
            <div class="intro">欢迎来到我的博客,在这里你可以找到你想看的.</div>
            <form class="signup-form form-inline justify-content-center pt-3" th:action="@{/searchByTitle}"
                  method="post">
                <div class="form-group">
                    <label class="sr-only" for="semail">Your email</label>
                    <input type="text" id="semail" name="input-blog" class="form-control mr-md-1 semail"
                           placeholder="请输入你要查询的文章">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div><!--//container-->
    </section>
    <section class="blog-list px-3 py-5 p-md-5" th:each="blog : ${pageInfo.blogs}">
        <!-- 文章内容 -->
        <div class="container">
            <div class="item mb-5">
                <div class="media">
                    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" th:src="@{${blog.getPicture()}}"
                         alt="image">
                    <div class="media-body">
                        <h3 class="title mb-1"><a th:href="@{/readMore/}+${blog.getId()}" th:text="${blog.getTitle()}">这是文章标题</a>
                        </h3>
                        <div class="meta mb-1">
                            <!--发布日期-->
                            <span class="date"
                                  th:text="'创建日期:'+${#dates.format(blog.createTime, 'yyyy-MM-dd HH:mm')}">这是发布日期
                                <!--th:text="${#dates.format(blog.create_time,'yyyy-MM-dd HH:mm:ss')}">这是发布日期-->
                            </span>
                        </div>
                        <div class="intro" th:text="${blog.desc}">这是文章描述</div>
                        <a class="more-link" th:href="@{/readMore/}+${blog.id}">Read more →</a>
                        <a th:if="${user != null}" style="margin-left: 500px" type="button" class="btn btn-primary"
                        th:href="@{/api/deleteBlogById?id=}+${blog.getId()}">
                            删除文章
                        </a>
                    </div><!--//media-body-->
                </div><!--//media-->
            </div><!--//item-->

        </div>
    </section>
    <!--分页按钮-->
    <div>
        <nav class="blog-nav nav nav-justified my-5">
            <a class="nav-link-prev nav-item nav-link rounded-left" th:href="@{/?pn=}+${pageInfo.currentNum-1}">上一页
                <i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
            <a class="nav-link-next nav-item nav-link rounded-right" th:href="@{/?pn=}+${pageInfo.currentNum+1}">下一页
                <i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
        </nav>
    </div>

</div><!--//main-wrapper-->


<!-- Javascript -->
<script th:src="@{/plugins/jquery-3.3.1.min.js}"></script>
<script th:src="@{/plugins/popper.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html> 

