<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Loding font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <title>Home</title>
</head>
<body>

<!-- Backgrounds -->

<div id="login-bg" class="container-fluid">
    <div class="bg-img"></div>
    <div class="bg-color"></div>
</div>

<!-- End Backgrounds -->

<div class="container" id="login">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="login">

                <h1>Admin Login</h1>

                <!-- Login form -->
                <form th:action="@{/api/login}" method="post">
                    <div class="form-group">
                        <input name="username" type="text" class="form-control"
                               placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control"
                               placeholder="PASSWORD">
                    </div>


                    <!--记住我和忘记密码-->
                    <!--</label>
                      <label class="form-check-label" for="exampleCheck1">Remember me</label>

                      <label class="forgot-password"><a href="#">Forgot Password?<a></a></a></label>
                    </div>-->

                    <br>
                    <button type="submit" class="btn btn-lg btn-block btn-success">SIGN IN</button>
                </form>
                <a type="button" th:href="@{/}" class="btn btn-lg btn-block btn-success">BACK TO HOME</a>
                <!-- End Login form -->

            </div>
        </div>
    </div>

</div>
</body>
</html>