<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>readMore</title>
</head>
<body>

<link id="theme-style" rel="stylesheet" th:src="@{/codeBlock/matery.css}">
<!-- Javascript -->
<script th:src="@{/plugins/jquery-3.3.1.min.js}"></script>
<script th:src="@{/plugins/popper.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/codeBlock/clipboard.min.js}"></script>
<script th:src="@{/codeBlock/codeBLang.js}"></script>
<script th:src="@{/codeBlock/codeBlockFuction.js}"></script>
<script th:src="@{/codeBlock/codeCopy.js}"></script>
<script th:src="@{/codeBlock/codeShrink.js}"></script>

<div th:replace="header.html::header"></div>
<div th:replace="header.html::leftSide"></div>


<div style="margin: 300px" class="top" th:utext="${content}"></div>



<link rel="stylesheet" th:src="@{/codeBlock/post.ejs}">


</body>
</html>