<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>readMore</title>
</head>
<body>

<!--代码块样式-->
<link rel="stylesheet" th:href="@{/css/codeBlock/prism.css}">



<!-- Javascript -->
<script th:src="@{/plugins/jquery-3.3.1.min.js}"></script>
<script th:src="@{/plugins/popper.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<!--代码块样式-->
<script th:src="@{/js/prism.js}"></script>




<div th:replace="header.html::header"></div>
<div th:replace="header.html::leftSide"></div>


<div style="margin-left: 300px;margin-right: 100px" class="top" th:utext="${content}"></div>


<link rel="stylesheet" th:src="@{/codeBlock/post.ejs}">


</body>
</html>